.underlined-title {
    font-size: 14px;
    font-weight: 600;
    border-bottom: 1px solid $gray;
}

.info-details {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;

    &__title {
        font-size: 14px;
    }

    &__value {
        color: $lightGreen;
        font-weight: 600;
        font-size: 18px;
    }
}

.order-summary__total {
    .info-details {
        &__title {
            color: $lightGreen;
        }
    }
}

.order-summary {
    width: 240px;
    height: 150px;
    display: grid;
    grid-template-rows: 30px 24px 24px 46px;
    row-gap: 5px;

    .info-details {
        &__value {
            justify-self: end;
        }
    }
}