.details {
    display: grid;
    grid-row-gap: 13px;

    &__title {
        border-bottom: 1px solid #CCC;
        padding-bottom: 7px;
        font-size: 14px;
        font-weight: 600;
    }

    &__links {
        display: grid;
        grid-row-gap: 10px;
        font-size: 14px
    }
}