.form-input {
    display: grid;
    grid-gap: 6.5px;

    & > * {
        padding-left: 20px;
    }

    &__label {
        font-size: 14px;
    }

    &__input {
        box-sizing: border-box;
        height: 39px;
        width: 426px;
        border: 1px solid $offWhite;
        border-radius: 20px;
        color: $lightBlack;
        font-size: 18px;

        &:focus {
            outline: none;
        }
    }
}

.form-button {
    &__button {
        height: 38px;
        width: 243px;
        border-radius: 20px;
        background-color: #00CB79;
        font-size: 16px;
        color: white;
        border: none;

        &:focus {
            outline: none;
        }
    }

    &__back-button {
        background-color: #999;
        width: 137px;
    }
}

.form-button-long-gray {
    display: grid;
    grid-gap: 6.5px;
    
    &__button {
        height: 38px;
        width: 243px;
        border-radius: 20px;
        background-color: #999999;
        font-size: 16px;
        color: white;
        border: none;

        &:focus {
            outline: none;
        }
    }

    &__label {
        font-size: 14px;
        padding-left: 20px;
    }
}