html {
    font-size: 62.5%; // 1rem is 10px
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: #808080;
}

@import 'variables.scss';
@import 'mixins.scss';

@import 'layout.scss';
@import 'headerNavbar.scss';
@import './pageTitle.scss';
@import './formFields.scss';
@import './details.scss';
@import './green-price-tag.scss';
@import './quantity.scss';

// AUTH
@import './auth/signin.scss';
@import './auth/signup.scss';

// ACCOUNT INFO
@import './accounts/account.scss';
@import './accounts//purchaseHistory.scss';
@import './accounts//account-information.scss';

// SHOP
@import './shop/shop.scss';
@import './shop//shop-search-bar.scss';