.review-form {
    &__legend {
        grid-row: legend-s/legend-e;
        grid-column: 1/-1;
        font-size: 14px;
        border-bottom: 1px solid $gray;
        padding-bottom: 11px;
    }

    &__products {
        grid-row: products-s/products-e;
        grid-column: 1/-1;
        overflow-y: scroll;

        display: grid;
        grid-template-rows: repeat(auto-fit, 80px);
        grid-row-gap: 12px;
    }

    &__line {
        grid-row: line-s/line-e;
        grid-column: 1/-1;
        border-top: 1px solid $gray;
        margin-bottom: 24px ;
    }

    &__proceed {
        grid-row: buttons-s/buttons-e;
        grid-column: proceed-s/proceed-e;
    }

    &__back {
        grid-row: buttons-s/buttons-e;
        grid-column: back-s/back-e;
    }

    &__details {
        grid-row: 1/-1;
        grid-column: 1/-1;
        justify-self: end;
        align-self: end;
        transform: translateX(-40px) translateY(60px);
    }

    ::-webkit-scrollbar-thumb {
        background-color: $lightBlack;
        border-radius: 10px;
    }
}

.review-detail {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    column-gap: 65px;
    align-items: center;

    &__title {
        text-align: right;
        font-size: 14px;
    }

    &__price {
        font-size: 18px;
        font-weight: 600;
    }

    &-total {
        margin-top: 18px;
    }

    &__green {
        font-weight: 600;
        color: $lightGreen;
    }
}

.review-form__legend {
    display: grid;
    grid-template-columns: 80px [name-s] 1fr [name-s quantity-s] 1fr [quantity-e price-s] .5fr [price-e] 40px;
    grid-template-rows: [s] 1fr [e];
    column-gap: 30px;
    align-items: center;

    & > * {
        grid-row: s/e;
    }

    &__name {
        grid-column: name-s/name-e;
    }

    &__quantity {
        grid-column: quantity-s/quantity-e;
    }

    &__price {
        grid-column: price-s/price-e;
        justify-self: end;
    }
}